<main id="main" class="main">
  <div style="width: 1190px;">
    <div class="pagetitle">
      <h1>Чат</h1>
   </div>
   <div class="line"></div>
   <div class="card">
     <div class="card-body">
       <div class="tab-content pt-2 p-3">
         <div class="tab-pane fade show active profile-overview" id="catalog-one">
           <div class="pt-4">
             <div class="d-flex align-items-stretch flex-nowrap overflow-auto">
               <div class="card" style="width: 250px;">
                 <img src="" class="card-img-top" alt="интересно что пиздец">
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 </div>
               </div>
               <div class="card" style="width: 250px;">
                 <img src="" class="card-img-top" alt="интересно что пиздец">
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 </div>
               </div>
               <div class="card" style="width: 250px;">
                 <img src="" class="card-img-top" alt="интересно что пиздец">
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 </div>
               </div>
               <div class="card" style="width: 250px;">
                 <img src="" class="card-img-top" alt="интересно что пиздец">
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 </div>
               </div>
               <div class="card" style="width: 250px;">
                 <img src="" class="card-img-top" alt="интересно что пиздец">
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 </div>
               </div>
               <div class="card" style="width: 250px;">
                 <img src="" class="card-img-top" alt="интересно что пиздец">
                 <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

   <div class="pagetitle">
     <h1>Обсуждения</h1>
   </div>
   <div class="line"></div>

   <div class="row">
     <div class="col-8">
       <div class="card">
         <div class="card-body" style="height: 1920px;">

         </div>
       </div>
     </div>
     <div class="col-4" >
       <div class="card" style="height: 650px;">
         <div class="card-body">

         </div>
       </div>
     </div>
   </div>
  </div>
</main>
