pip
django==4.1.1
pydantic
psycopg2-binary
flake8==5.0.1
isort
black
python-dotenv
py7zr
celery[amqp,redis]
loguru
gunicorn
djangorestframework
markdown
django-filter
pyyaml
Faker
django-debug-toolbar
django-extensions==3.2.1