pip
django==4.1.1
pydantic
psycopg2-binary
flake8==5.0.1
isort
black
python-dotenv
py7zr
celery[amqp,redis]
loguru
gunicorn
djangorestframework
markdown
django-filter
pyyaml
Faker
django-debug-toolbar
django-extensions==3.2.1
sentry-sdk
djangorestframework-simplejwt==5.2.2
pyjwt==2.6.0
cffi==1.15.1
cryptography==38.0.1
pycparser==2.21
drf-spectacular[sidecar]==0.24.2
