<main id="main" class="main">
  <div style="width: 1190px;">
    <section class="section contact mb-5">
      <div class="row">
          <div class="col-12">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style=" width: 100%; height: 250px; background-color: gray;">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                  <img src="" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                  <img src="" class="d-block w-100" alt="">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">назад</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">вперед</span>
              </button>
            </div>
          </div>
      </div>
    </section>

    <div class="pagetitle">
      <h1>Тарифы</h1>
    </div>
    <div class="line"></div>

    <div class="pt-4">
      <div class="d-flex align-items-stretch flex-nowrap overflow-auto">
        <div class="card col-4">
          <div class="card-title">
            ИНВЕСТОР
          </div>
          <i class="bi bi-bar-chart-fill"></i>
          <div class="card-body">
            <h5 class="card-title">Базовый тариф</h5>
            <p class="card-text">Подойдет, если вы инвстируете на длительный срок.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between"><span>Обслуживание</span><span>0Р в месяц</span></li>
              <li class="list-group-item d-flex justify-content-between"><span>Комисия за сделку</span><span>0,3%</span></li>
              <li class="list-group-item"><button type="button" class="btn btn-primary w-100">Подключить</button></li>
              <li class="list-group-item text-center"><a href="#" class="link-primary">Условия тарифа</a></li>
            </ul>
          </div>
        </div>
        <div class="card col-4">
          <div class="card-title">
            ПРЕМИУМ
          </div>
          <i class="bi bi-file-ppt-fill"></i>
          <div class="card-body">
            <h5 class="card-title">Продвинутый тариф</h5>
            <p class="card-text">Какие-то условия</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between"><span>Обслуживание</span><span>1990Р в месяц</span></li>
              <li class="list-group-item d-flex justify-content-between"><span>Комисия за сделку</span><span>от 0,025% до 2%</span></li>
              <li class="list-group-item"><button type="button" class="btn btn-primary w-100">Подключить</button></li>
              <li class="list-group-item text-center"><a href="#" class="link-primary">Условия тарифа</a></li>
            </ul>
          </div>
        </div>
        <div class="card col-4">
          <div class="card-title">
            ТРЕЙДЕР
          </div>
          <i class="bi bi-sliders2-vertical"></i>
          <div class="card-body">
            <h5 class="card-title">Тариф с пониженой комиссией</h5>
            <p class="card-text">Подходит тем кто совершает большое количество сделок за месяц.</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between"><span>Обслуживание</span><span>290Р в месяц</span></li>
              <li class="list-group-item d-flex justify-content-between"><span>Комисия за сделку</span><span>от 0,3%</span></li>
              <li class="list-group-item"><button type="button" class="btn btn-primary w-100">Подключить</button></li>
              <li class="list-group-item text-center"><a href="#" class="link-primary">Условия тарифа</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>



  </div>
</main>
