<main id="main" class="main">
  <div class="card">
    <div class="card-body">
      <div class="reclama">

      </div>
    </div>
  </div>
  <div class="pagetitle">
     <h1>Кaталог</h1>
  </div>
  <section class="section contact">
     <div class="row gy-4">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-body">
              <ul class="nav nav-tabs nav-tabs-bordered mt-4">
                <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#catalog-one">Что купить</button></li>
                <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#catalog-score">Акции</button></li>
                <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#catalog-valut">Валюта</button></li>
                <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#catalog-fonds">Фонды</button></li>
                <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#catalog-bonds">Облигации</button></li>
                <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#catalog-futures">Фьючерсы</button></li>
             </ul>
             <div class="tab-content pt-2 p-3">
                <div class="tab-pane fade show active profile-overview" id="catalog-one">
                  <div class="pt-4">
                    <div class="d-flex align-items-stretch flex-nowrap overflow-auto">
                      <div class="card" style="width: 250px;">
                        <img src="" class="card-img-top" alt="интересно что пиздец">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 250px;">
                        <img src="" class="card-img-top" alt="интересно что пиздец">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 250px;">
                        <img src="" class="card-img-top" alt="интересно что пиздец">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 250px;">
                        <img src="" class="card-img-top" alt="интересно что пиздец">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 250px;">
                        <img src="" class="card-img-top" alt="интересно что пиздец">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 250px;">
                        <img src="" class="card-img-top" alt="интересно что пиздец">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade pt-3" id="catalog-score">
                  <p class="h3 pt-2 pb-2">Каталог акций</p>
                  <div class="row">
                    <div class="card">
                      <div class="card-body">
                        <div class="row mt-4">
                          <div class="col-3">
                            <div class="btn-group btn-score mb-3 w-100" role="group">
                              <button type="button" class="btn p-3">Все</button>
                              <button type="button" class="btn p-3">Р</button>
                              <button type="button" class="btn p-3">$</button>
                            </div>
                            <div class="btn text-primary w-100">Сбросить</div>
                          </div>
                          <div class="col-4 ">
                            <select class="form-select mx-auto form-select-lg mb-3">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="col-4 ">
                            <select class="form-select mx-auto form-select-lg mb-3">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <table class="table stocks">
                      <thead>
                        <tr>
                            <th scope="col" class="stocks-name" >Название</th>
                            <th scope="col" class="stocks-price" >Цена</th>
                            <th scope="col" class="stocks-cost" >Стоимость</th>
                            <th scope="col" class="stocks-to-day" >За сегодня</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>Brandon Jacob</td>
                            <td>Designer</td>
                            <td>28</td>
                            <td>2016-05-25</td>
                        </tr>
                        <tr>
                            <td>Bridie Kessler</td>
                            <td>Developer</td>
                            <td>35</td>
                            <td>2014-12-05</td>
                        </tr>
                        <tr>
                            <td>Ashleigh Langosh</td>
                            <td>Finance</td>
                            <td>45</td>
                            <td>2011-08-12</td>
                        </tr>
                        <tr>
                            <td>Angus Grady</td>
                            <td>HR</td>
                            <td>34</td>
                            <td>2012-06-11</td>
                        </tr>
                        <tr>
                            <td>Raheem Lehner</td>
                            <td>Dynamic Dir</td>
                            <td>47</td>
                            <td>2011-04-19</td>
                        </tr>
                      </tbody>
                    </table>
                    <nav class="mx-auto w-auto">
                      <ul class="pagination ">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>

                <div class="tab-pane fade pt-3" id="catalog-fonds">
                  <p class="h3 pt-2 pb-2">Каталог фондов</p>
                  <div class="row">
                    <div class="card">
                      <div class="card-body">
                        <div class="row mt-4">
                          <div class="col-3">
                            <div class="btn-group btn-score mb-3 w-100" role="group">
                              <button type="button" class="btn p-3">Все</button>
                              <button type="button" class="btn p-3">Р</button>
                              <button type="button" class="btn p-3">$</button>
                            </div>
                            <div class="btn text-primary w-100">Сбросить</div>
                          </div>
                          <div class="col-4 ">
                            <select class="form-select mx-auto form-select-lg mb-3">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="col-4 ">
                            <select class="form-select mx-auto form-select-lg mb-3">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <table class="table stocks">
                      <thead>
                        <tr>
                            <th scope="col" class="stocks-name" >Название</th>
                            <th scope="col" class="stocks-price" >Цена</th>
                            <th scope="col" class="stocks-cost" >Стоимость</th>
                            <th scope="col" class="stocks-to-day" >За сегодня</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>Brandon Jacob</td>
                            <td>Designer</td>
                            <td>28</td>
                            <td>2016-05-25</td>
                        </tr>
                        <tr>
                            <td>Bridie Kessler</td>
                            <td>Developer</td>
                            <td>35</td>
                            <td>2014-12-05</td>
                        </tr>
                        <tr>
                            <td>Ashleigh Langosh</td>
                            <td>Finance</td>
                            <td>45</td>
                            <td>2011-08-12</td>
                        </tr>
                        <tr>
                            <td>Angus Grady</td>
                            <td>HR</td>
                            <td>34</td>
                            <td>2012-06-11</td>
                        </tr>
                        <tr>
                            <td>Raheem Lehner</td>
                            <td>Dynamic Dir</td>
                            <td>47</td>
                            <td>2011-04-19</td>
                        </tr>
                      </tbody>
                    </table>
                    <nav class="mx-auto w-auto">
                      <ul class="pagination ">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>

                <div class="tab-pane fade pt-3" id="catalog-bonds">
                  <p class="h3 pt-2 pb-2">Каталог облигации</p>
                  <div class="row">
                    <div class="card">
                      <div class="card-body">
                        <div class="row mt-4">
                          <div class="col-3">
                            <div class="btn-group btn-score mb-3 w-100" role="group">
                              <button type="button" class="btn p-3">Все</button>
                              <button type="button" class="btn p-3">Р</button>
                              <button type="button" class="btn p-3">$</button>
                            </div>
                            <div class="btn text-primary w-100">Сбросить</div>
                          </div>
                          <div class="col-4 ">
                            <select class="form-select mx-auto form-select-lg mb-3">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="col-4 ">
                            <select class="form-select mx-auto form-select-lg mb-3">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <table class="table stocks">
                      <thead>
                        <tr>
                            <th scope="col" class="stocks-name" >Название</th>
                            <th scope="col" class="stocks-price" >Цена</th>
                            <th scope="col" class="stocks-cost" >Стоимость</th>
                            <th scope="col" class="stocks-to-day" >За сегодня</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>Brandon Jacob</td>
                            <td>Designer</td>
                            <td>28</td>
                            <td>2016-05-25</td>
                        </tr>
                        <tr>
                            <td>Bridie Kessler</td>
                            <td>Developer</td>
                            <td>35</td>
                            <td>2014-12-05</td>
                        </tr>
                        <tr>
                            <td>Ashleigh Langosh</td>
                            <td>Finance</td>
                            <td>45</td>
                            <td>2011-08-12</td>
                        </tr>
                        <tr>
                            <td>Angus Grady</td>
                            <td>HR</td>
                            <td>34</td>
                            <td>2012-06-11</td>
                        </tr>
                        <tr>
                            <td>Raheem Lehner</td>
                            <td>Dynamic Dir</td>
                            <td>47</td>
                            <td>2011-04-19</td>
                        </tr>
                      </tbody>
                    </table>
                    <nav class="mx-auto w-auto">
                      <ul class="pagination ">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>

                <div class="tab-pane fade pt-3" id="catalog-futures">
                  <p class="h3 pt-2 pb-2">Каталог фьючерсов</p>
                  <div class="row">
                    <div class="card">
                      <div class="card-body">
                        <div class="row mt-4">
                          <div class="col-3">
                            <div class="btn-group btn-score mb-3 w-100" role="group">
                              <button type="button" class="btn p-3">Все</button>
                              <button type="button" class="btn p-3">Р</button>
                              <button type="button" class="btn p-3">$</button>
                            </div>
                            <div class="btn text-primary w-100">Сбросить</div>
                          </div>
                          <div class="col-4 ">
                            <select class="form-select mx-auto form-select-lg mb-3">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="col-4 ">
                            <select class="form-select mx-auto form-select-lg mb-3">
                              <option selected>Open this select menu</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <table class="table stocks">
                      <thead>
                        <tr>
                            <th scope="col" class="stocks-name" >Название</th>
                            <th scope="col" class="stocks-price" >Цена</th>
                            <th scope="col" class="stocks-cost" >Стоимость</th>
                            <th scope="col" class="stocks-to-day" >За сегодня</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>Brandon Jacob</td>
                            <td>Designer</td>
                            <td>28</td>
                            <td>2016-05-25</td>
                        </tr>
                        <tr>
                            <td>Bridie Kessler</td>
                            <td>Developer</td>
                            <td>35</td>
                            <td>2014-12-05</td>
                        </tr>
                        <tr>
                            <td>Ashleigh Langosh</td>
                            <td>Finance</td>
                            <td>45</td>
                            <td>2011-08-12</td>
                        </tr>
                        <tr>
                            <td>Angus Grady</td>
                            <td>HR</td>
                            <td>34</td>
                            <td>2012-06-11</td>
                        </tr>
                        <tr>
                            <td>Raheem Lehner</td>
                            <td>Dynamic Dir</td>
                            <td>47</td>
                            <td>2011-04-19</td>
                        </tr>
                      </tbody>
                    </table>
                    <nav class="mx-auto w-auto">
                      <ul class="pagination ">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
     </div>
  </section>
</main>
