<main id="main" class="main">
  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body ">
          <form>
            <div class="row mb-3">
               <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Аватар</label>
               <div class="col-md-8 col-lg-9">
                  <img src="assets/img/profile-img.jpg" alt="Profile">
                  <div class="pt-2"> <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a> <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a></div>
               </div>
            </div>
            <div class="row mb-3">
               <label for="fullName" class="col-md-4 col-lg-3 col-form-label">ФИО</label>
               <div class="col-md-8 col-lg-9"> <input name="fullName" type="text" class="form-control" id="fullName" value="Jassa"></div>
            </div>
            <div class="row mb-3">
               <label for="company" class="col-md-4 col-lg-3 col-form-label">Телефон</label>
               <div class="col-md-8 col-lg-9"> <input name="company" type="text" class="form-control" id="tel" value="899999999999"></div>
            </div>
            <div class="row mb-3">
               <label for="Job" class="col-md-4 col-lg-3 col-form-label">E-Mail</label>
               <div class="col-md-8 col-lg-9"> <input name="job" type="mail" class="form-control" id="mail" value="test@test.test"></div>
            </div>
            <div class="row mb-3">
               <label for="Country" class="col-md-4 col-lg-3 col-form-label">Пол</label>
               <div class="col-md-8 col-lg-9"> <input name="country" type="text" class="form-control" id="sex"></div>
            </div>
            <div class="row mb-3">
               <label for="Address" class="col-md-4 col-lg-3 col-form-label">Дата рождения</label>
               <div class="col-md-8 col-lg-9"> <input name="address" type="text" class="form-control" id="birth"></div>
            </div>
            <div class="text-center"> <button type="submit" class="btn btn-primary">Изменить</button></div>
         </form>
        </div>
      </div>
    </div>
  </div>
    <div class="pagetitle">
       <h1>Профиль</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item">Users</li>
             <li class="breadcrumb-item active">Profile</li>
          </ol>
       </nav>
    </div>
    <section class="section profile">
       <div class="row">
          <div class="col-xl-4">
             <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                   <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                   <h2>Имя</h2>
                   <h3>Начинающий</h3>
                  </div>
             </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-8">
             <div class="card">
                <div class="card-body pt-3">
                   <ul class="nav nav-tabs nav-tabs-bordered">
                      <li class="nav-item"> <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Обо мне</button></li>
                      <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-score">Счета</button></li>
                      <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-stoks">Акции</button></li>
                      <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-achivement">Ачивки</button></li>
                      <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-example">Выполненые задания</button></li>
                      <li class="nav-item"> <button class="nav-link" id="profile-setting" data-bs-toggle="tab" data-bs-target="#profile-settings">Настройки</button></li>
                      <li class="nav-item"> <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Сброс пароля</button></li>
                   </ul>
                   <div class="tab-content pt-2">
                      <div class="tab-pane fade show active profile-overview" id="profile-overview">
                        <div class="container pt-4">
                          <div class="row">
                            <div class="col-lg-3 col-md-4 label ">ФИО</div>
                            <div class="col-lg-9 col-md-8">ФИО</div>
                         </div>
                         <div class="row">
                            <div class="col-lg-3 col-md-4 label">Телефон</div>
                            <div class="col-lg-9 col-md-8">8999999999999</div>
                         </div>
                         <div class="row">
                            <div class="col-lg-3 col-md-4 label">E-Mail</div>
                            <div class="col-lg-9 col-md-8">tset@test.test</div>
                         </div>
                         <div class="row">
                            <div class="col-lg-3 col-md-4 label">Пол</div>
                            <div class="col-lg-9 col-md-8">амунда</div>
                         </div>
                         <div class="row">
                            <div class="col-lg-3 col-md-4 label">Дата рождения</div>
                            <div class="col-lg-9 col-md-8">1.1.1</div>
                         </div>
                        </div>
                        <div class="row">
                          <div class="col-10"></div>
                          <div class="col-1">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              Изменить
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade pt-3" id="profile-stoks">
                          <div class="row">
                            <div class="col-lg-12">
                              <table class="table stocks">
                                  <thead>
                                    <tr>
                                        <th scope="col" class="stocks-name" >Название</th>
                                        <th scope="col" class="stocks-price" >Цена</th>
                                        <th scope="col" class="stocks-cost" >Стоимость</th>
                                        <th scope="col" class="stocks-to-day" >За сегодня</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                        <td>Brandon Jacob</td>
                                        <td>Designer</td>
                                        <td>28</td>
                                        <td>2016-05-25</td>
                                    </tr>
                                    <tr>
                                        <td>Bridie Kessler</td>
                                        <td>Developer</td>
                                        <td>35</td>
                                        <td>2014-12-05</td>
                                    </tr>
                                    <tr>
                                        <td>Ashleigh Langosh</td>
                                        <td>Finance</td>
                                        <td>45</td>
                                        <td>2011-08-12</td>
                                    </tr>
                                    <tr>
                                        <td>Angus Grady</td>
                                        <td>HR</td>
                                        <td>34</td>
                                        <td>2012-06-11</td>
                                    </tr>
                                    <tr>
                                        <td>Raheem Lehner</td>
                                        <td>Dynamic Dir</td>
                                        <td>47</td>
                                        <td>2011-04-19</td>
                                    </tr>
                                  </tbody>
                                </table>
                             </div>
                          </div>
                      </div>
                      <div class="tab-pane fade pt-3" id="profile-settings">
                         <form>
                            <div class="row mb-3">
                               <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                               <div class="col-md-8 col-lg-9">
                                  <div class="form-check"> <input class="form-check-input" type="checkbox" id="changesMade" checked> <label class="form-check-label" for="changesMade"> Changes made to your account </label></div>
                                  <div class="form-check"> <input class="form-check-input" type="checkbox" id="newProducts" checked> <label class="form-check-label" for="newProducts"> Information on new products and services </label></div>
                                  <div class="form-check"> <input class="form-check-input" type="checkbox" id="proOffers"> <label class="form-check-label" for="proOffers"> Marketing and promo offers </label></div>
                                  <div class="form-check"> <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled> <label class="form-check-label" for="securityNotify"> Security alerts </label></div>
                               </div>
                            </div>
                            <div class="text-center"> <button type="submit" class="btn btn-primary">Save Changes</button></div>
                         </form>
                      </div>
                      <div class="tab-pane fade pt-3" id="profile-score">
                        <div class="card score-card">
                          <div class="card-body">
                            <span>Стоимость</span>
                            <span>9784</span>
                            <span>Доларов</span>
                          </div>
                        </div>
                        <div class="card score-card">
                          <div class="card-body">
                            <span>Стоимость</span>
                            <span>9784</span>
                            <span>Доларов</span>
                          </div>
                        </div>
                        <form>
                          <div class="card score-add-card">
                            <div class="card-body">
                              <i class="bi bi-plus-lg"></i>
                            </div>
                          </div>
                           <div class="row">
                              <div class="col-4">
                                 <button class="btn btn-score"><div>Пополнить счет</div><div><i class="bi bi-plus-square-fill"></i></div></button>
                              </div>

                              <div class="col-4">
                                <button class="btn btn-score"><div>перевести бумаги</div><div><i class="bi bi-arrow-down-up"></i></div></button>
                             </div>

                             <div class="col-4">
                              <button class="btn btn-score"><div>Справки и отчеты</div><div><i class="bi bi-file-earmark-text"></i></div></button>
                           </div>
                           </div>
                        </form>
                     </div>
                     <div class="tab-pane fade pt-3" id="profile-achivement">
                        <form>
                           <div class="row">
                              <div class="col-4">
                                <div class="card p-3">
                                  <h5>Ачивка 1</h5>
                                  <div class="status">
                                    <span>статус:</span>
                                    <span class="text-success">выполнено</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="card p-3">
                                  <h5>Ачивка 2</h5>
                                  <div class="status">
                                    <span>статус:</span>
                                    <span class="text-success">выполнено</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="card p-3">
                                  <h5>Ачивка 3</h5>
                                  <div class="status">
                                    <span>статус:</span>
                                    <span class="text-success">выполнено</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="card p-3">
                                  <h5>Ачивка 4</h5>
                                  <div class="status">
                                    <span>статус:</span>
                                    <span class="text-success">выполнено</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="card p-3">
                                  <h5>Ачивка 5</h5>
                                  <div class="status">
                                    <span>статус:</span>
                                    <span class="text-success">выполнено</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="card p-3">
                                  <h5>Ачивка 6</h5>
                                  <div class="status">
                                    <span>статус:</span>
                                    <span class="text-success">выполнено</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="card p-3">
                                  <h5>Ачивка 7</h5>
                                  <div class="status">
                                    <span>статус:</span>
                                    <span class="text-success">выполнено</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="card p-3">
                                  <h5>Ачивка 8</h5>
                                  <div class="status">
                                    <span>статус:</span>
                                    <span class="text-success">выполнено</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="card p-3">
                                  <h5>Ачивка 9</h5>
                                  <div class="status">
                                    <span>статус:</span>
                                    <span class="text-secondary">не выполнено</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="card p-3">
                                  <h5>Ачивка 10</h5>
                                  <div class="status">
                                    <span>статус:</span>
                                    <span class="text-secondary">не выполнено</span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-4">
                                <div class="card p-3">
                                  <h5>Ачивка 11</h5>
                                  <div class="status">
                                    <span>статус:</span>
                                    <span class="text-secondary">не выполнено</span>
                                  </div>
                                </div>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="tab-pane fade pt-3" id="profile-example">
                      <form>
                         <div class="row">
                            <div class="col-4">
                              <div class="card p-3">
                                <h5>Задание 1</h5>
                                <div class="status">
                                  <span>статус:</span>
                                  <span class="text-secondary">выполнеятся</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="card p-3">
                                <h5>Задание 2</h5>
                                <div class="status">
                                  <span>статус:</span>
                                  <span class="text-secondary">выполнеятся</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="card p-3">
                                <h5>Задание 3</h5>
                                <div class="status">
                                  <span>статус:</span>
                                  <span class="text-secondary">выполнеятся</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="card p-3">
                                <h5>Задание 4</h5>
                                <div class="status">
                                  <span>статус:</span>
                                  <span class="text-success">выполнено</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="card p-3">
                                <h5>Задание 5</h5>
                                <div class="status">
                                  <span>статус:</span>
                                  <span class="text-success">выполнено</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="card p-3">
                                <h5>Задание 6</h5>
                                <div class="status">
                                  <span>статус:</span>
                                  <span class="text-danger">не выполнено</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="card p-3">
                                <h5>Задание 7</h5>
                                <div class="status">
                                  <span>статус:</span>
                                  <span class="text-success">выполнено</span>
                                </div>
                              </div>
                            </div>
                            <div class="col-4">
                              <div class="card p-3">
                                <h5>Задание 8</h5>
                                <div class="status">
                                  <span>статус:</span>
                                  <span class="text-danger">не выполнено</span>
                                </div>
                              </div>
                            </div>
                         </div>
                      </form>
                   </div>
                      <div class="tab-pane fade pt-3" id="profile-change-password">
                         <form>
                            <div class="row mb-3">
                               <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Введите пароль</label>
                               <div class="col-md-8 col-lg-9"> <input name="password" type="password" class="form-control" id="currentPassword"></div>
                            </div>
                            <div class="row mb-3">
                               <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Новый пароль</label>
                               <div class="col-md-8 col-lg-9"> <input name="newpassword" type="password" class="form-control" id="newPassword"></div>
                            </div>
                            <div class="row mb-3">
                               <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Повторить пароль</label>
                               <div class="col-md-8 col-lg-9"> <input name="renewpassword" type="password" class="form-control" id="renewPassword"></div>
                            </div>
                            <div class="text-center"> <button type="submit" class="btn btn-primary">Изменить</button></div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
 </main>
